<div class="row">
    <div class="text-xxl-center">Nuevo Recorrido</div>
    <form novalidate [formGroup]="recorridos" (ngSubmit)="grabar()">
  <fieldset>
    <div class="from-group">
      <label>Nombre</label>
      <input type="text" class="form-control" formControlName="nombre"
      placeholder="Ingrese el Nombre">
    </div>
    <div class="from-group">
      <label>Dias</label>
      <input type="text" class="form-control" formControlName="dias"
      placeholder="Ingrese los Dias">
    </div>
    <div class="from-group">
      <label>Fecha</label>
      <input type="text" class="form-control" formControlName="fecha"
      placeholder="Ingrese la Fecha">
    </div>
    <div class="from-group">
      <label>Hora Salida</label>
      <input type="text" class="form-control" formControlName="hora_salida"
      placeholder="Ingrese la Hora Salida">
    </div>
    <div class="from-group">
      <label>Hora Llegada</label>
      <input type="text" class="form-control" formControlName="hora_llegada"
      placeholder="Ingrese la Hora Llegada">
    </div>
    <div class="form-group">
        <label>Ruta</label>
        <select class="form-control" formControlName="rutaID">
          <option *ngFor="let ruta of rutas" value="{{ ruta.rutaID }}">{{ ruta.lugar_salid +'-'+ruta.lugar_llegada }}</option>
        </select>
      </div>
    <div class="from-group">
      <button class="btn btn-outline-success">Grabar</button>
      <button class="btn btn-outline-secondary" [routerLink]="['/recorridos']">Cancelar</button>
    </div>
  </fieldset>
    </form>
  </div>